%h1 Frequently Asked Questions (FAQ)

= render 'form'

- if flash[:notice].present?
  .callout.success
    = flash[:notice]

- @questions.each do |question|
  .row
    %p 
      Q:
      = question.question_text
