.home {

  .hero {
    background-image: url(image_path('home-hero.png'));
    background-size: cover;
    background-position: bottom;
    margin-bottom: 30px;

    .hero-copy {
      width: 100%;
      padding: 20px;
      margin: 0 auto;
      color: white;
    }
  }
}
