.home {
  .content-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .hero {
    background-image: url(image_path('home-hero.jpg'));
    background-size: cover;

    .hero-copy {
      width: 100%;
      padding: 20px;
      margin: 0 auto;

      background-color: rgba(19,97,148,0.7);
      color: white;
    }
  }
}
