.home {

  .hero {
    margin-bottom: 30px;

    .hero-copy {
      width: 100%;
      padding: 20px;
      margin: 0 auto;
      color: white;
    }
  }

  .step-card {

    &.inactive,
    &.inactive:hover {
      background-color: $white !important; // terrible, horrible, no good, very bad override over default hover
      .media-object-section {
        color: $color-mediumgray !important; // terrible, horrible, no good, very bad override over default hover
      }
    }

    .choice-section {
      cursor: pointer;
      display: inline-block;
      padding: 10px;
      color: $white;
      background-color: $color-extralightgray;
      width: 50%;
      &:first-child {
        border-top-left-radius: $global-radius;
      }
      &:nth-child(2) {
        float: right;
        border-top-right-radius: $global-radius;
      }

      &.selected {
        color: $white;
        background-color: $color-darkblue-2;
      }
    }

    .choice-link {
      padding: 10px 0;
      border-top: 1px solid $color-lightgray;
      border-bottom-left-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
      background-color: $white;
      color: $color-darkblue-2;
      &:hover{
        color: $white;
        background-color: $color-darkblue-2;
      }
    }
  }

  .choice-card {
    position: relative; // so that this becomes the relative parent for two 50% choice-section elements
    &:hover {
      background-color: initial;
    }
  }

  ul.step-group {
    .step-group-title {
      text-align: center;
      color: $white !important;

      .step-group-title-text {
        margin: 10px;
      }
    }

    &.plan .media-object { color: $color-darkblue-3; }
    &.apply .media-object { color: $color-darkblue-2; }
    &.launch .media-object { color: $color-darkblue; }

    .media-object:hover { color: $white; }

    &.accordion,
    .accordion-content {
      border: none; // override for Foundation styling
    }

    .accordion-title {
      font-size: 20px;
    }

    .accordion-title .arrow {
      display: inline-block;
      height: 8px;
      width: 22px;
      background-image: url(image_path('expand_light_blue.png'));
      background-size: cover;
    }

    .is-active .accordion-title .arrow {
      transform: rotate(180deg); // flips arrow upside down
    }

    &.plan {
      .step-group-title,
      .media-object:hover {
        background-color: $color-darkblue-3;
      }
    }
    &.apply {
      .step-group-title,
      .media-object:hover {
        background-color: $color-darkblue-2;
      }
    }
    &.launch {
      .step-group-title,
      .media-object:hover {
        background-color: $color-darkblue;
      }
    }
  }

  .accordion.desktop .accordion-title {
    cursor: initial;
  }

  .accordion.desktop .accordion-content {
    display: block; // override for default hidden style in Foundation
  }

}
