.home {

  .hero {
    margin-bottom: 30px;

    .hero-copy {
      width: 100%;
      padding: 20px;
      margin: 0 auto;
      color: white;
    }
  }

  .step-card {
    height: 75px;

    &.inactive {
      color: $color-mediumgray;
      background-color: $white;
    }

    .choice-section {
      padding: 10px;
      border-radius: 0.3rem;
      color: $color-darkblue;

      &.selected {
        background-color: $color-darkblue;
        color: $white;
      }
    }
  }

  .choice-card {
    &:hover {
      background-color: initial;
    }
  }

  ul.step-group {
    .step-group-title {
      text-align: center;
      height: 50px;
      color: $white;
    }

    &.accordion,
    .accordion-content {
      border: none; // override for Foundation styling
    }

    .accordion-title {
      font-size: 20px;
    }

    .accordion-title .arrow {
      display: inline-block;
      height: 8px;
      width: 22px;
      background-image: url(image_path('expand_light_blue.png'));
      background-size: cover;
    }

    .is-active .accordion-title .arrow {
      transform: rotate(180deg); // flips arrow upside down
    }

    &:nth-child(1) .step-group-title { background-color: $color-darkblue-3; }
    &:nth-child(2) .step-group-title { background-color: $color-darkblue-2; }
    &:nth-child(3) .step-group-title { background-color: $color-darkblue; }
  }

  .accordion.desktop .accordion-title {
    cursor: initial;
  }

  .accordion.desktop .accordion-content {
    display: block; // override for default hidden style in Foundation
  }

}
