.profile {
  .accordion {
    border: none;
  }
  .accordion-content {
    padding: 10px;
  }

  .sticky-action-items {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $color-darkblue;
    border-top: 1px solid $color-lightgray;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      position: static;
    }

    > a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: $white;
      font-weight: 600;
    }

    > a + a {
      border-left: 1px solid $color-lightgray;
    }
  }

  .notebook {
    .notebook-item {
      position: relative;
    }
    .notebook-item + .notebook-item {
      border-top: 1px solid $color-darkgray;
    }
    p {
      display: inline-block;
    }
    input {
      width: 80%;
      display: none;
    }
    .editing {
      p {
        display: none;
      }
      input {
        display: inline-block;
      }
    }
    .edit-enable {
      position: absolute;
      top: 1px;
      right: 10px;
      width: 44px;
      cursor: pointer;
      font-size: 28px;
    }
  }


  .checklist {
    .intro-copy {
      color: $black;
      margin-bottom: 30px;
      & > .row {
        position: relative;
      }
    }
    .intro-copy-item {
      position: absolute;
      left: 30px;
      top: 13px;
    }
    .bullet {
      font-size: 28px;
      &.arrow-right {
        margin-top: 20px;
      }
    }
    .category-header {
      &.plan {
        background-color: $color-darkblue-3;
      }
      &.launch {
        background-color: $color-darkblue-2;
      }
      &.grow {
        background-color: $color-darkblue;
      }
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: $white;
    }

  }
}
