@mixin heavy-font {
  color: $color-darkblue;
  font-weight: 700;
}

.resources {
  &.new {
    fieldset + fieldset {
      border-top: 1px solid $color-extralightgray;
      margin-top: 20px;
      padding-top: 20px;
    }
    .fieldset-title {
      @include heavy-font;
    }
    .option {
      margin-top: 10px;
    }
  }

  &.results {
    .result {
      display: block;
      padding: 10px;
      box-shadow: 0px 1px 4px $color-extralightgray;
      margin-top: 5px;
      margin-bottom: 5px;

      &:hover {
        background-color: $color-darkblue;
        color: $white;
        .value-prop {
          color: $white;
        }
      }

      .value-prop {
        @include heavy-font;
        border-bottom: 1px solid $color-extralightgray;
      }
    }
  }

  &.show {
    padding: 10px;
    tbody {
      border: none;
      tr {
        background-color: #FFF; // override Foundation table striping
      }
      td {
        padding-left: 0;
      }
      td:first-child {
        @include heavy-font;
      }
    }
    .value-prop {
      @include heavy-font;
      border-bottom: 1px solid $color-extralightgray;
    }
  }
}
