.step-title {
  background-color: $color-lightblue;
  color: #FFFFFF;
  text-align: right;
  padding-right: 3%;
}

.content-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.step-intro {
  margin-top: 20px;
}

.step-section,
.step-section-do {
  margin-top: 10px;
  padding-top: 20px;
}

.step-section-do {
  ul {
    margin-left: 0px;

    li ul {
      margin-left: 3rem;
    }
  }

  .columns > ul > li {
    list-style: none;

    > input[type='checkbox'] {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}

.link-box_icon {
  opacity: 0.8;
  height: 70px;
  width: 70px;
  background-image: url(image_path('icon-share.png'));
  background-size: cover;
  margin: 0 auto;
}

.media-object { // additions to Foundation style
  @include font-raleway;
  background-color: $color-lightgray;
  box-shadow: 0px 2px 4px $color-black;
  padding: 10px;

  &:hover {
    background-color: $color-darkgray;
  }
}

.map-box {
  margin-bottom: 5px;
  padding: 0;
  background-color: $color-lightgray;
  overflow: hidden;

  .map-box_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
  }

  .map-box_title {
    @include font-raleway;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    background-color: $color-darkgray;
    color: white;
  }

  img {
    width: 100%;
  }
}
