.step-title {
  background-color: $color-lightblue;
  color: #FFFFFF;
  text-align: right;
  padding-right: 3%;
}

.content-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.step-intro {
  margin-top: 20px;
}

.step-section-learn,
.step-section-do {
  margin-top: 10px;
  border-top: 1px solid $color-black;
  padding-top: 20px;
}

.step-section-do {
  ul {
    margin-left: 0px;
  }

  ul li {
    list-style: none;

    > input[type='checkbox'] {
      margin-right: 10px;
    }
  }
}
