.step {

  tbody td {
    padding: 10px;
  }

  h2 {
    color: $color-darkgray;
    font-size: 1.375rem;
  }

  h3 {
    color: $color-black;
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .step-header {
    background-color: $color-mediumblue;
    color: $white;
    margin-bottom: 30px;
  }

  .step-title {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;

    .icon {
      margin-bottom: 10px;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 0.3;
    }

    h2 {
      color: $white;
      font-weight: 400;
    }
  }

  .readmore-section {
    padding-left: 2px; // give room for box-shadow to show when inside overflow:hidden readmore containers
    padding-right: 2px; // give room for box-shadow to show when inside overflow:hidden readmore containers
    position: relative; // gets the absolute positioning right for the :before pseudoelement below

    &:first-child {
      margin-top: 0;
    }
  }

  .readmore-section[data-readmore]:not(.readmore-expanded):before { // transparent gradient overlay on readmore text blocks
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 200px,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    pointer-events: none;
  }

  .readmore {
    @include font-raleway;
    font-size: 18px;

    .arrow {
      display: inline-block;
      height: 16px;
      width: 44px;
      margin: 14px 0; // expand vertical size to meet minimum 44px tap target height
      background-image: url(image_path('expand_dark_blue.png'));
      background-size: cover;

      &:hover {
        background-image: url(image_path('expand_light_blue.png'));
      }
    }
    .arrow.arrow-less {
      transform: rotate(180deg); // flips arrow upside down
    }
  }

  .button h2 {
    color: $white;
    margin-bottom: 0;
  }

}
