.step-title {
  background-color: $color-lightblue;
  color: #FFFFFF;
  text-align: right;
  padding-right: 3%;
}

.content-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.step-intro {
  margin-top: 20px;
}

.step-section-learn,
.step-section-do {
  margin-top: 10px;
  border-top: 1px solid $color-black;
  padding-top: 20px;
}

.icon-business-plan {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-size: cover;
  background-image: url(image_path('noun_170213_Business_Plan.svg'));
}

.icon-finance {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-size: cover;
  background-image: url(image_path('noun_220206_Funding.svg'));
}

.icon-container-circle {
  height: 58px;
  width: 58px;
  padding: 5px;
  border-radius: 50%;
}

.icon-container-square {
  height: 58px;
  width: 58px;
  padding: 5px;
}

.icon-learn {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-image: url(image_path('noun_216972_Learn.svg'));
}

.icon-do {
  display: inline-block;
  height: 48px;
  width: 48px;
  background-size: cover;
  background-image: url(image_path('noun_216965_Do.svg'));
}
