// CHECKLIST STYLES

.checklist {
  .sticky { // for sidebar checklist on step pages
    @include breakpoint(medium up) {
      border-left: 1px solid $color-mediumgray;
      padding-left: 10px;
    }

    .checklist-header {
      margin-bottom: 20px;

      display: table;
      vertical-align: middle;
      text-align: center;

      .checklist-header_title {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;

        a {
          text-decoration: underline;
          font-family: 'Raleway';
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }

  ul {
    margin-left: 0px;

    li ul {
      margin-left: 3rem;
    }
  }

  ul > li {
    list-style: none;
    margin-bottom: 10px;
  }
  .title, .subtitle {
    font-family: 'Raleway';
    text-decoration: none;
  }
  .title {
    font-weight: 600;
  }
  .subtitle {
    font-weight: 400;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-left: 22px solid $color-darkblue-2;

    margin-top: 7px; // centers the arrow in the div
  }
}

.header-buttons {
  border-bottom: 1px solid $color-mediumgray;
  max-width: none;

  .header-button {

    a {
      color: $color-black;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 10px;
    }

    border-right: 1px solid $color-mediumgray;
    &:last-child {
      border-right: none;
    }
  }
}

// CHECKLIST CHECKBOX STYLES

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 22px; height: 21px;
  border: 1px solid #aaa;
  background: #FFFFFF;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: url(image_path('checkmark_white_70935-200.png'));
  position: absolute;
  top: 3px; left: 1px;
  font-size: 24px;
  line-height: 0.8;
  color: #FFFFFF;
  background-color: $color-mediumblue;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

.checklist-item {
  position: relative; // to contain `position: absolute` children
}

.checkbox-area {
  padding-right: 40px;
}

.disabled {
 .checkbox-area > label {
    text-decoration: line-through;
    color: $color-darkgray;
  }
  .disable {
    display: none;
  }
}

.enabled {
  .enable {
    display: none;
  }
}

.checkbox-edit-triggers {
  position: absolute;
  top: -13px; // that's the magic number that makes this line up with the label
  right: 10px;
}

.checkbox-toggle {
  font-size: 28px;
  cursor: pointer;
}

.checklist-category-header {
  &.plan {
    background-color: $color-darkblue-3;
  }
  &.launch {
    background-color: $color-darkblue-2;
  }
  &.grow {
    background-color: $color-darkblue;
  }
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: $white;
}
