.link-box {
  line-height: 1.4;
  text-decoration: underline;
}


.media-object { // additions to Foundation style
  @include font-raleway;
  border-radius: $global-radius;
  box-shadow: 0px 1px 4px $color-mediumgray;
  background-color: $white;
  padding: 10px;
  margin-left: 2px; // give room for box-shadow to show when inside overflow:hidden readmore containers
  margin-right: 2px; // give room for box-shadow to show when inside overflow:hidden readmore containers

  .link-box_icon {
    opacity: 0.8;
    height: 50px;
    width: 50px;
    background-image: url(image_path('share_button_blue.png'));
    background-size: cover;
  }

  &:hover {
    background-color: $color-mediumblue;
    color: $white;

    .link-box_icon {
      width: 36px;
      height: 36px;
      margin: 7px;
      background-image: url(image_path('share_button_white.png'));
    }
  }
}

.media-object.combo {

  &:hover { // don't hoverstyle the whole card at once
    background-color: $white;
  }

  > .contact-box {
    border-bottom: 1px solid $color-lightgray;
    display: block;

    &:hover {
      background-color: $color-mediumgray;
      cursor: pointer;
    }
  }

  .contact-box:last-child {
    border-bottom: none;
  }
}

.contact-box_icon-phone {
  background-image: url(image_path('phone_icon_dark_blue.png'));
  height: 35px;
  width: 35px;
  margin: 10px;
  background-size: cover;
}

.contact-box_icon-email {
  background-image: url(image_path('email_blue_32727-200.png'));
  height: 43px;
  width: 46px;
  margin: 4px 3px;
  background-size: cover;
}

.map-box {
  margin-bottom: 5px;
  padding: 0;
  background-color: $color-mediumgray;
  overflow: hidden;
  position: relative;

  &:hover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
      border-radius: $global-radius;
    }
  }

  .map-box_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 125px;
  }

  .map-box_title {
    @include font-raleway;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
    background-color: $color-darkblue;
    color: white;
  }

  img {
    width: 100%;
  }
}
