@mixin icon {
  display: inline-block;
  background-size: cover;
}

.icon-step-1, .icon-determine-license {
  @include icon;
  height: 70px;
  width: 66px;
  position: relative;
  background-image: url(image_path('need_biz_lic_icon_dark_blue_2x.png'));
}

.icon-business-plan-blue {
  @include icon;
  height: 55px;
  width: 55px;
  opacity: 0.8; // gives it a light blue shade when placed on blue background
  background-image: url(image_path('step1_icon_white.png'));
}

.icon-step-6, .icon-license {
  @include icon;
  height: 45px;
  width: 70px;
  background-image: url(image_path('step5_icon_dark_blue.png'));
}
.icon-license-blue {
  @include icon;
  height: 52px;
  width: 83px;
  background-image: url(image_path('noun_9041_License_light_blue.png'));
}

.icon-step-2, .icon-plan {
  @include icon;
  height: 70px;
  width: 54px;
  background-image: url(image_path('plan_biz_icon_dark_blue_2x.png'));
}

.icon-step-3, .icon-finance {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('step2_icon_dark_blue.png'));
}
.icon-finance-blue {
  @include icon;
  height: 69px;
  width: 70px;
  background-image: url(image_path('noun_220206_Funding_light_blue.png'));
}

.icon-name {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('noun_220210_Name.svg'));
}

.icon-step-5, .icon-register {
  @include icon;
  height: 48px;
  width: 70px;
  background-image: url(image_path('step4_icon_dark_blue.png'));
}
.icon-register-blue {
  @include icon;
  height: 55px;
  width: 80px;
  background-image: url(image_path('noun_154111_Register_light_blue.png'));
}

.icon-step-4, .icon-location {
  @include icon;
  height: 70px;
  width: 56px;
  background-image: url(image_path('step3_icon_dark_blue.png'));
}
.icon-location-blue {
  @include icon;
  height: 70px;
  width: 55px;
  background-image: url(image_path('noun_220213_Location_light_blue.png'));
}

.icon-step-7, .icon-building {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('step6_icon_dark_blue.png'));
}
.icon-building-blue {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('noun_179119_Building_light_blue.png'));
}

.icon-step-8, .icon-inspections {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('inspection_step_icon_blue.png'))
}

.icon-step-9, .icon-key {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('step7_icon_dark_blue.png'));
}
.icon-key-blue {
  @include icon;
  height: 34px;
  width: 70px;
  background-image: url(image_path('noun_206771_Key_light_blue.png'));
}

.icon-step-10, .icon-government {
  @include icon;
  height: 60px;
  width: 60px;
  background-image: url(image_path('gov_icon_darkblue_2x.png'));
}

.icon-container-circle {
  @include icon;
  height: 58px;
  width: 58px;
  padding: 5px;
  border-radius: 50%;
}

.icon-container-square {
  @include icon;
  height: 58px;
  width: 58px;
  padding: 5px;
}

.icon-checklist {
  @include icon;
  height: 48px;
  width: 48px;
  background-image: url(image_path('noun_216965_Do.svg'));
}

.icon-contact {
  @include icon;
  height: 55px;
  width: 53px;
  background-image: url(image_path('contact_dark_blue_icon_2x.png'));
}

.icon-resources {
  @include icon;
  height: 55px;
  width: 49px;
  background-image: url(image_path('resources_icon_darkblue_2x.png'));
}
