@mixin icon {
  display: inline-block;
  background-size: cover;
}

.icon-step-1, .icon-determine-license {
  @include icon;
  height: 70px;
  width: 66px;
  background-image: url(image_path('need_biz_license_319020-200_blue.png'));
}
.icon-determine-license-white {
  @include icon;
  height: 70px;
  width: 66px;
  background-image: url(image_path('need_biz_license_319020-200_white.png'));
}

.icon-step-2, .icon-plan {
  @include icon;
  height: 70px;
  width: 54px;
  background-image: url(image_path('plan_173995-200_blue.png'));
}
.icon-plan-white {
  @include icon;
  height: 70px;
  width: 54px;
  background-image: url(image_path('plan_173995-200_white.png'));
}

.icon-step-3, .icon-financing {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('finance_blue.png'));
}
.icon-financing-white {
  @include icon;
  height: 69px;
  width: 70px;
  background-image: url(image_path('finance_white.png'));
}

.icon-step-4, .icon-location {
  @include icon;
  height: 70px;
  width: 56px;
  background-image: url(image_path('location_blue.png'));
}
.icon-location-white {
  @include icon;
  height: 70px;
  width: 55px;
  background-image: url(image_path('location_white.png'));
}

.icon-step-5, .icon-register {
  @include icon;
  height: 48px;
  width: 75px;
  background-image: url(image_path('license_blue.png'));
}
.icon-register-white {
  @include icon;
  height: 48px;
  width: 75px;
  background-image: url(image_path('license_white.png'));
}

.icon-step-6, .icon-business-license {
  @include icon;
  height: 45px;
  width: 70px;
  background-image: url(image_path('id_blue.png'));
}
.icon-business-license-white {
  @include icon;
  height: 45px;
  width: 70px;
  background-image: url(image_path('id_white.png'));
}

.icon-step-7, .icon-permits {
  @include icon;
  height: 68px;
  width: 79px;
  background-image: url(image_path('brick_111748-200_blue.png'));
}
.icon-permits-white {
  @include icon;
  height: 68px;
  width: 79px;
  background-image: url(image_path('brick_111748-200_white.png'));
}

.icon-step-8, .icon-inspections {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('inspector_76604-200_blue.png'))
}
.icon-inspections-white {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('inspector_76604-200_white.png'))
}

.icon-step-9, .icon-grow {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('key_324199-200_blue.png'));
}
.icon-grow-white {
  @include icon;
  height: 70px;
  width: 70px;
  background-image: url(image_path('key_324199-200_white.png'));
}

.icon-step-10, .icon-city-contracts {
  @include icon;
  height: 60px;
  width: 60px;
  background-image: url(image_path('government_143672-200_blue.png'));
}
.icon-city-contracts-white {
  @include icon;
  height: 60px;
  width: 60px;
  background-image: url(image_path('government_143672-200_white.png')); 
}

.icon-checklist-white {
  @include icon;
  height: 58px;
  width: 48px;
  background-image: url(image_path('checklist_white.png'));
}

.icon-checklist-blue {
  @include icon;
  height: 58px;
  width: 48px;
  background-image: url(image_path('checklist_blue.png'));
}

.icon-contact-white {
  @include icon;
  height: 55px;
  width: 53px;
  background-image: url(image_path('contact_75084-200_white.png'));
}

.icon-resources {
  @include icon;
  height: 55px;
  width: 49px;
  background-image: url(image_path('resources_212908-200_blue.png'));
}
.icon-resources-white {
  @include icon;
  height: 55px;
  width: 49px;
  background-image: url(image_path('resources_212908-200_white.png'));
}
