// ($iconname, $filename)
$icons: (
  ('get-idea','idea_403891-200_'),
  ('business-taxes','tax_43686-200_'),
  ('support-options','support_icon_66723-200_'),
  ('plan-check','plan_15641-200_'),
  ('zoning','zoning_156645-200_'),
  ('freelancer','freelance_icon_151727-200_'),
  ('marketing','marketing_169007-200_'),
  ('negotiate-lease','lease_150021-200_'),
  ('register','cali_174136-200_'),
  ('networking','networking_122209-200_'),
  ('hire-employees','hire_33096-200_'),
  ('business-license-receive','license_receive_154111_'),
  ('business-license-apply','license_apply_154111_'),
  ('business-license-determine','license_determine_154111_'),
  ('business-plan','plan_173995-200_'),
  ('plan','plan_173995-200_'),
  ('financial-plan','money_220206_Funding_'),
  ('obtain-funding','financing_'),
  ('financing','financing_'),
  ('physical-location','brick_87343-200_'),
  ('business-license','id_'),
  ('permits','permit_231568-200_'),
  ('inspections','inspector_397573-200_'),
  ('grow','key_324199-200_'),
  ('city-contracts','government_143672-200_'),
  ('checklist','checklist_'),
  ('contact','contact_75084-200_'),
  ('resources','resources_212908-200_'),
);

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.icon-large {
  width: 75px;
  height: 75px;
}

@each $i in $icons {
  .icon-#{nth($i, 1)} {
    background-image: url(image_path(nth($i, 2)+'blue.png'));
    &.white { background-image: url(image_path(nth($i, 2)+'white.png')); }
  }
  .media-object:hover,
  .media-object:active {
    .icon-#{nth($i, 1)} {
      background-image: url(image_path(nth($i, 2)+'white.png'));
    }
  }
  .media-object.inactive:hover,
  .media-object.inactive:active {
    .icon-#{nth($i, 1)} {
      background-image: url(image_path(nth($i, 2)+'grey.png'));
    }
  }
  .inactive {
    .icon-#{nth($i, 1)} {
      background-image: url(image_path(nth($i, 2)+'grey.png'));
    }
  }
}

// hacky specific styles
.choice-section:not(.selected) {
  .icon-freelancer {
    background-image: url(image_path('freelance_151727-200_blue.png'));
  }
  .icon-physical-location {
    background-image: url(image_path('brick_87343-200_blue.png'));
  }
}

.choice-section.selected {
  .icon-freelancer {
    background-image: url(image_path('freelance_151727-200_white.png'));
  }
  .icon-physical-location {
    background-image: url(image_path('brick_87343-200_white.png'));
  }
}
