.accordion.modules {
  color: $white;
  background-color: $color-darkblue;
  font: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  border-radius: 0;
  margin-bottom: 0;
}

.modular-box {
  color: $color-darkblue;
  font-weight: normal;

  .icon {
    height: 38px;
    width: 38px;
    margin: 8px;
  }

  .accordion-title {
    border-bottom: none;
    padding: 1rem;

    .step-group-title-text .text {
      color: $white;
      display: inline-block;
      font-size: 14px;
      line-height: 1.4rem;
    }
    &:hover .step-group-title-text .text {
      color: $color-darkgray;
    }
  }


  .accordion-title .arrow {
    display: inline-block;
    float: right;
    height: 8px;
    width: 22px;
    margin-top: 18px;
    background-image: url(image_path('expand_light_blue.png'));
    background-size: cover;
  }

  &.is-active .accordion-title .arrow {
    transform: rotate(180deg); // flips arrow upside down
  }

  a.contact-pane {
    &:hover {
      background-color: $color-darkblue;
    }
    &:active {
      background-color: $color-mediumblue;
    }

    &:hover, &:active {
      color: $white;
      .link-box_icon {
        background-image: url(image_path('share_white.png'));
      }
      .contact-box_icon-phone {
        background-image: url(image_path('phone_341134-200_white.png'));
      }
      .contact-box_icon-email {
        background-image: url(image_path('email_32727-200_white.png'));
      }
    }

  }

  .contact-pane {
    display: block;
    width: 100%;

    & + .contact-pane {
      border-top: 1px solid $color-mediumgray;
    }

    .contact-box_icon-phone {
      background-image: url(image_path('phone_341134-200_blue.png'));
      height: 35px;
      width: 35px;
      margin: 10px;
      background-size: cover;
    }

    .contact-box_icon-email {
      background-image: url(image_path('email_32727-200_blue.png'));
      height: 36px;
      width: 38px;
      margin: 8px 8px;
      background-size: cover;
    }

  }

  .contact-pane-section {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem;
    padding-right: 1rem;
  }

  .map-box_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 125px;
  }

}

.profile .arrow {
  margin-top: 7px !important;
}
