- content_for(:body_class, 'profile')

.step
  .step-header.margin-bottom-0
    .step-title.text-center
      %i.icon.icon-large.icon-profile.white
      %h1 My Profile
      %h2 track progress and essential info

  .content-container{ style: 'width: 100%;' }
    %ul.accordion.modules.details{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.is-active.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Settings
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          .row
            %strong Username:
            %div= @user.email
          %a.inline-block.margin-top-10{ href: users_edit_path, style: 'text-decoration: underline;' } Change Username or Password
    %ul.accordion.modules.notebook{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.is-active.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Notebook
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          = react_component('Notebook', { items: @notebook_items }, { class: 'notebook' })
    %ul.accordion.modules.checklist{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Checklist
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          .intro-copy
            This is a list of most of the tasks necessary to plan, launch, and grow your business.
            .row
              %span.bullet.bullet-pencil &#x270e;
              .intro-copy-item Add and edit your own checklist items
            .row
              %span.bullet.bullet-minus &#8854;
              .intro-copy-item Cross out tasks that don't apply to you
            .row
              %span.bullet.bullet-plus &#8853;
              .intro-copy-item Reveal items you deleted
            .row
              %span.bullet.arrow-right
              .intro-copy-item Learn more about each section
          = render 'shared/user_checklist'
    %ul.accordion.modules{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Funding Opportunities
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          Soon you will be able to save your funding opportunities here. In the meantime, explore them with our search tool.
          %a{ href: '/resources/search' }
            .step-card.media-object
              .media-object-section.middle
                %i.icon.icon-checklist
              .media-object-section.middle
                %strong Obtain Funding
                %div Resource matching
    %ul.accordion.modules.forms{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
      %li.accordion-item.modular-box{ "data-accordion-item" => "true" }
        %a.accordion-title.step-group-title.text-centered
          .step-group-title-text
            .text
              %strong My Forms
            .arrow
        .accordion-content{ "data-tab-content" => "true" }
          Soon you will be able to save forms relevant to your business. Check back again soon!
