%footer.footer
  .row
    .columns.small-12.medium-6
      %div.margin-top-20
        %div.row 
          Designed and Built by
          %a{ href: 'https://www.codeforamerica.org/why-government/our-partners/long-beach-ca/'} Code for America
          and 
          %a{ href: 'http://longbeach.gov/iteam/'} Long Beach i-team
        %div.row
          Icons by 
          %a{ href: 'https://thenounproject.com/' } TheNounProject.com
        %div.row
          Open Source code on 
          %a{ href: 'https://github.com/codeforamerica/bizport' } Github
    .columns.small-12.medium-6
