%footer.footer
  .row
    .columns.small-12.medium-4 
      A project of 
      %a{ href: 'https://www.codeforamerica.org/why-government/our-partners/long-beach-ca/' } Code for America
    .columns.small-12.medium-4 © City of Long Beach
