-# step_groups: []

-# though the CMS DB never *should* be empty, this should run even if it is
-# e.g. when running tests without CMS fixtures loaded
- step_groups.each do |group|
  - (pages = Comfy::Cms::Page.published.find_by(slug: group).children.published) && pages.each do |page|
    %li.nav-business-step
      %a{ href: "#{page.full_path}" }
        .title #{page.label}
