.top-bar
  .top-bar-left
    %ul.dropdown.menu{ "data-dropdown-menu" => true }
      %li.menu-text Long Beach BizPort
      %li
        %a{ href: "#"} Start a Business
        %ul.menu.vertical
          %li
            %a{ href: start_business_plan_path } Create a Business Plan
          %li
            %a{ href: start_finance_your_business_path } Finance Your Business
          %li
            %a{ href: start_find_a_location_path } Find a Location
          %li
            %a{ href: start_choose_a_name_path } Choose a Name
          %li
            %a{ href: start_register_your_business } Register Your Business
      %li
        %a{ href: "#" } Two
      %li
        %a{ href: "#" } Three
