%li.nav-mobile-business-step
  %a{ href: start_business_plan_path } 1 Create a Business Plan
%li.nav-mobile-business-step
  %a{ href: start_finance_your_business_path } 2 Finance Your Business
%li.nav-mobile-business-step
  %a{ href: start_find_a_location_path } 3 Find a Location
%li.nav-mobile-business-step
  %a{ href: start_choose_a_name_path } 4 Choose a Name
%li.nav-mobile-business-step
  %a{ href: start_register_your_business_path } 5 Register Your Business
%li.nav-mobile-business-step
  %a{ href: start_permits_and_licenses_path } 6 Permits and Licenses
%li.nav-mobile-business-step
  %a{ href: start_building_and_inspections_path } 7 Building and Inspections
%li.nav-mobile-business-step
  %a{ href: start_open_your_business_path } 8 Open Your Business
