- Comfy::Cms::Page.find_by(slug:'start').children.published.each do |page|
  %li.nav-mobile-business-step
    %a{ href: "#{page.full_path}" }
      .numbering> #{page.position})
      .title> #{page.label}
