.top-bar
  .top-bar-left
    %ul.dropdown.menu{ "data-dropdown-menu" => true }
      %li.menu-text
        %a{ href: '/' } Long Beach BizPort
      %li
        %a{ href: start_business_plan_path } Start a Business
        %ul.menu.vertical
          %li
            %a{ href: start_business_plan_path } Create a Business Plan
          %li
            %a{ href: start_finance_your_business_path } Finance Your Business
          %li
            %a{ href: start_find_a_location_path } Find a Location
          %li
            %a{ href: start_choose_a_name_path } Choose a Name
          %li
            %a{ href: start_register_your_business_path } Register Your Business
          %li
            %a{ href: start_permits_and_licenses_path } Permits and Licenses
          %li
            %a{ href: start_building_and_inspections_path } Building and Inspections
          %li
            %a{ href: start_open_your_business_path } Open Your Business
      %li
        %a{ href: "#" } About
