-# param_1: link
-# param_2: line_1
-# param_3: line_2

%a.media-object.link-box{ href:"#{param_1}", target:'_blank' }
  .media-object-section.middle
    .link-box_icon
  .media-object-section.middle
    %div #{param_2}
    %div #{param_3}
