# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7632037f4f15c4a1a66605b3d7791712f8a194919a0bde86f64d7acf891c9a283bbad4ad916154ecdb1e81c1764e5caf4ed2d55d17bc5726812c7cb0e23423e6

test:
  secret_key_base: c7ca0ce7d67bce98afe136da760234335c662246a1df817412d1144fa5a0d4d0acbf92c41e04bb1a19b504c8961b205b0d117db29a1c5409f844cc3f0ab37e0b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
