.step-title 
  %h3 Step 1
  %h1 Create a Business Plan

.step-intro
  %p Before you start your business, it's important to have a clear plan for how your business will operate and make money. Writing a business plan will help you prepare for the rest of the business setup process.

.step-section.step-section-learn
  %h2 Learn
  Every business is a little different, but here are the pieces of a typical business plan:

  %li 
    %strong Executive Summary:
    %span A few sentences that give an overview of your business, describing the product or service and your goals for the next year or two.
  %li 
    %strong Market Analysis:
    %span Who are the target customers for the business? Are there any businesses providing the same service that might be in competition with your business? Would a particular location in the city be important for your business to succeed?
  %li 
    %strong Organization & Management:
    %span Think about what it will take to run the business each day. Will you need employees? What will the hours of the business be? Will you close for weekends and holidays?
  %li 
    %strong Service or Product:
    %span Each product that you sell costs something to make, and each service that you provide takes employee time. Whether you're providing a product or a service, carefully calculate your costs so that you know how much you need to charge customers in order to make money.
  %li 
    %strong Marketing & Sales:
    %span Every business needs a way to get customers. Write a little about how you plan to advertise and sell, and make sure to note what those marketing and sales activities will cost.
  %li 
    %strong Finances:
    %span Using your estimates of what it will cost to open your business, operate, do marketing, and sell to customers, calculate how much money you need to start. If you don't have enough, think about how to borrow additional money. (link to finance page?)

    (links to 2-3 example business plans that follow the pattern above)

.step-section.step-section-do
  %h2 Do

  %ol
    %li Write a business plan.
    %li Show it to people you trust, and ask for feedback.
    %li Get free professional advice from SBDC and SCORE (links to sign up).
