- content_for :title, "My Checklist"

.step
  .step-header
    .step-title.text-center
      %i.icon-checklist-white
      %h1 My Checklist
  .content-container
    - [{ name: 'determine', link: '/start/determine-license' }, { name: 'planning', link: '/start/plan' }, { name: 'finance', link: '/start/financing' }, { name: 'location', link: '/start/location' }, { name: 'register', link: '/start/register' }, { name: 'license', link: '/start/business-license' }, { name: 'permits', link: '/start/permits' }, { name: 'inspections', link: '/start/inspections' }, { name: 'grow', link: '/start/grow' }, { name: 'city_contracts', link: '/start/city-contracts' }].each_with_index do |category, i|
      .row.checklist
        %h3
          %a{ href: category[:link], style:"text-decoration: underline;" } Step #{i+1}: #{ChecklistItem.find_by(category: category[:name]).category_name}
        %ul
          - ChecklistItem.where(category: category[:name]).order(:order_number).each do |item|
            = render 'shared/checklist_item', item_text: item.item_text
    %h3 Need help?
    %p Let us know if you need help completing these tasks by clicking the chat button in the bottom-right corner.
