.row

  %h1 4) Choose a Name

  %h2 Learn

  %p Let’s make your name official. You’ve chosen a name, now you will have to register it with the State of California and County of Los Angeles so you can start "Doing Business As" (DBA) your company.

  %p Applying for a fictitious business name (FBN) is the first piece of paperwork that you'll file for your business. It's best to finish (writing a business plan), (planning your finances), and (selecting a location) before you file, since the application isn't free and you'll have to file more paperwork if you want to change your name later.

  %h2 Do

  %ol
    %li 
      %p Register your name with the county using the 
      %a{ href: 'http://lavote.net/home/county-clerk/fictitious-business-names/general-info' } Fictitious Business Name Application (link to document)
