%h1 Contact Us

.content-container
  The Long Beach business portal is a new initiative by the City of Long Beach, in partnership with Code for America, to centralize and improve the resources that entrepreneurs need to start a business in the city. While every effort has been made to ensure the quality and accuracy of information on this site, errors and omissions are likely to exist, and we welcome your feedback to improve the site.

  Feel free to reach out to us with comments.

  = render 'shared/contact_box', type:'email', contact_info:'longbeach@codeforamerica.org'

  .row.margin-top-20

    To sign up for our newsletter and project updates, please enter your email below:

    = render 'subscriptions/form'

    - if flash[:notice].present?
      .callout.success
        = flash[:notice]
