.step-title
  %i.icon-location.float-left
  %h3 Step 3
  %h1 Find a Location

.content-container
  .step-intro  
    %p The time has come to find a place for your business. It may sound easy, but there are a lot of things to take into account before signing the lease.
  
  .row.step-section.step-section-learn
    .columns.medium-2.large-1.show-for-medium
      .icon-container-circle.background-lightblue
        %i.icon-learn.float-right
    .columns.medium-10.large-11
      %h2 Learn

      %p As you select a location for your business, consider:

      %ul
        %li 
          %strong Customers:
          %span Pick a location that your target customers can easily reach.
        %li 
          %strong Rent:
          %span Make sure that you can afford the rent, based on the revenue and cost expectations from your (business plan)
        %li 
          %strong Remodeling:
          %span You may need to do repairs or remodeling on the property before moving in. Look carefully to determine how much you might need to spend on this work before you can open your business. A professional contractor may be able to give you advice.
        %li 
          %strong Zoning:
          %span Different business types are only allowed in certain parts of the city, and it is illegal to run a business in a building that is not zoned for that type of activity. Always check with the city (link) before signing a lease.
        %li 
          %strong Business Improvement Districts (BIDs):
          %span Certain areas of Long Beach are controlled by BIDs which coordinate a variety of services and activities to help businesses in that area. Businesses in these areas are required to pay an annual fee to their BID - usually a few hundred dollars. In return, BIDs may clean the streets, host local events, represent business needs to the city, or provide other business support services. The city's website has more information about BID areas and associated fees: 
          %a{ href: 'http://www.longbeach.gov/finance/business-info/business-licenses/bids/' }
        %li
          %strong Commercial real estate agents: 
          %span Understand the different players in the commercial real estate world and their roles. Examples include, commercial brokers, property managers, leasing managers, and property insurance agents.

  .row.step-section.step-section-do
    .columns.medium-2.large-1.show-for-medium
      .icon-container-square.background-lightblue
        .icon-do.float-right
    .columns.medium-10.large-11
      %h2 Do

      .callout.primary NOTE: Do not sign a lease until you've checked with the city to make sure the building can be used for your type of business. 

      %ul
        %li
          %input{ type:'checkbox' } Identify several locations well-suited for your business. Real estate agents can help with this process.
        %li
          %input{ type:'checkbox' } Call or visit the planning and zoning desk on the 4th floor of city hall 
          %a{ href:'tel:+1-562-570-5237'} (562-570-5237)
          to see if your business is allowed in the locations you've selected.
        %li
          %input{ type:'checkbox' } Negotiate the lease with the landlord. Real estate brokers can help with this negotiation. Here are some common lease terms may be important to consider:
          %ul
            %li Length of lease: Month-to-month or a certain number of years
            %li A "free rent" period while you're remodeling and setting up your business
            %li Price per square foot
            %li What sort of property insurance (e.g. fire, insurance) is included?
            %li What utilities are included?
        %li
          %input{ type:'checkbox' } Draft a Letter of Intent (LOI).
        %li
          %input{ type:'checkbox' } Draft a lease. Include a drawing of the floorplan as you intend to set it up for your business.
        %li
          %input{ type:'checkbox' } Sign the lease.
