- content_for :title, "Step 3: Business Location"

.step
  .step-header
    .step-title.text-center
      %i.icon-location-blue
      %h1 Step 3:
      %h1 Business Location

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2
            %a{ href: checklist_path } My Checklist



      #step-content.columns.small-12.medium-7
        .step-section
          .callout
            NOTE: Do not sign a lease until you've checked with the city to make sure the building can be used for your type of business.

        .step-section
          %h2 Home Based vs. Brick & Mortar
          %p There are differences between starting a Home Based Business and a Brick and Mortar. For example, if you’re starting a restaurant you may need a liquor license, zoning inspection, etc.

          %h3 Brick & Mortar
          %p There are a lot of things to take into account before signing the lease. Consider the following as you select a location for your business:

          %h3 Zoning:
          %p Different business types are only allowed in certain parts of the city, and it is illegal to run a business in a building that is not permitted or zoned for that type of activity. Always check with the City’s planning department (link) before signing a lease.

          {{ cms:partial:shared/link_box:"http://www.gatewaycogsiteprospector.org/search.html?zpesst=gatewaycog&zpemode=search&zpesearchtype=BUILDINGS&zpeminsize=1100&zpemaxsize=14000&zpeattributes=145%3A%5B%3D%5D1&zpepropertytype=9&zpegeoentitylist=%2B":"EXPLORE":"Free commercial property search tool" }}

          %p Contact the Planning and Zoning departments to confirm that your business type works in that zoned area.

          %a.media-object.map-box{ href:'https://www.google.com/maps/place/Los+Angeles+Small+Business+Development+Center+Regional+Network+(Lead+Center)/@33.8241696,-118.1375455,17z/data=!3m1!4b1!4m2!3m1!1s0x80dd323e2bf1b531:0x62b8fa356ef8c81d' }
            .map-box_title
              Planning and Zoning Department
            .map-box_image{ style:"background-image:url(http://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=400x200&maptype=roadmap&key=AIzaSyDNMwk_TfOkVkYQYNEe_8e2M7k6z_KCx1A&format=png&visual_refresh=true&markers=size:mid|color:blue|4900+E+Conant+St+Suite+108,+Long+Beach,+CA+90808)" }

          {{ cms:partial:shared/contact_box:phone:"(562) 570-6651" }}

          %h3 Square Footage
          %p Consider the size of the property you need for your business: How much square footage do you need? Is there room for expansion?

          %h3 Sitemap
          %p The city requires you to provide a site plan showing the interior and exterior layout of the business.

          %h3 Internet Speed
          %p Consider the internet connectivity of your location. The City of Long Beach is in the process of getting Google Fiber up and running, which will dramatically improve internet speeds. But in the meantime, some properties have weaker internet connections. Talk to the city to determine if the property you are considering falls under that.

          %h3 Accessibility for Customers:
          %p Pick a location that your target customers can easily reach. Check out Walkscore to assess your property’s walkability, bikeability, and access to public transit.

          {{ cms:partial:shared/link_box:https://www.walkscore.com/:"EXPLORE":"walkscore.com" }}

          %p If you think most of your customers will drive, consider the parking minimums the city has placed on the property.

          %h3 Rent:
          %p Make sure that you can afford the rent, based on the revenue and cost expectations from your business plan.

          %h3 Remodeling Costs and Time:
          %p You may need to do repairs or remodeling on the property before moving in. Look carefully to determine how much you might need to spend on this work before you can open your business. Hire a licensed architect for tenant improvement plans. The architect can also provide a fairly accurate cost estimate for the improvements.  A professional contractor may be able to give you advice. The cost of certain improvements may be negotiated as part of the lease/rent agreement.

          %h3 Business Improvement Districts (BIDs):
          %p Certain areas of Long Beach are served by BIDs which coordinate a variety of services and activities to help businesses in that area. Businesses and/or property owners in these areas are required to pay an annual fee to their BID - usually a few hundred dollars. In return, BIDs may clean the streets, enhance security, host local events, represent business needs to the city, or provide other business support services.  BIDs offer supplemental services not already provided by the municipality.

          {{ cms:partial:shared/link_box:"https://www.google.com/maps/d/u/0/viewer?mid=zRyOlKekBcLw.kEgylOcIk5Qk":"VIEW":"Properties that fall under a BID area" }}
          {{ cms:partial:shared/link_box:"http://www.longbeach.gov/finance/business-info/business-licenses/bids/":"VIEW":"BID fee list" }}

          %p We recommend getting in touch with your BID director if you are interested in a property that falls into that territory. They can help you through the process of setting up a brick and mortar business.

          %h3 Commercial Brokers real estate agents:
          %p It is highly recommended that you hire a commercial broker to represent you in the negotiations. A professional real estate broker will ensure your interest is protected. Understand the lease terms such as who will be responsible for repairs, taxes, common area expenses, etc. Understand the different players in the commercial real estate world and their roles: Commercial brokers, property managers, leasing managers, and property insurance agents.

          %h3 Letter of Intent (LOI)

          {{ cms:partial:shared/link_box:"http://www.nolo.com/legal-encyclopedia/clb-commercial-lease-letter-intent":"VIEW":"LOI Template" }}

          %h3 Tips for working with landlords
          %ul
            %li Talk to current tenants and neighbors to see if the landlord maintains the property well.

          %h3 Negotiate the lease with the landlord.
          %ul
            %li Length of lease: Month to month or over a number of years?
            %li Are renovations or modifications needed, what are the costs, who will be responsible for obtaining the necessary permits from the City? Tenant improvement costs may be negotiated as part of the lease/rent.
            %li Price / square footage
            %li What sort of property insurance is included (i.e. fire, flood)?
            %li Are utilities included?
            %li Who is responsible for building maintenance and repairs and bringing the building up to code?

          %h3 Draft and sign the lease

        .row.margin-top-30
          .columns.small-12.small-centered
            %a.button.secondary.expanded{ href:start_register_your_business_path } 
              %h2 Step 4: Register Your Business
