.home
  .row.columns.small-12.large-8.large-offset-2.margin-bottom-30
    .hero-title
      .logo-longbeach
        %div{ style: 'margin-bottom: -20px; font-size: 20px;' } CITY OF
        %span.logo-longbeach_long> LONG
        %span.logo-longbeach_beach> BEACH
    .hero
      %img{ src: image_path('lb_skyline_61237790-f520-4527-a9da-67c0e0583032_light.png') }
    .hero-copy
      %h4
        Welcome to the pilot of BizPort!
      %h5
        Starting a business is both exciting and challenging. BizPort is here to help you navigate the process.

  .row
    - ['plan','apply','launch'].each do |step_group|
      %ul.step-group.accordion.columns.small-12.large-4{ "data-accordion" => "true", "data-allow-all-closed" => "true" }
        %li.accordion-item{ "data-accordion-item" => "true" }
          %a.accordion-title.step-group-title.media-object.text-centered
            = step_group.upcase
            .arrow.hide-for-large
          .accordion-content{ "data-tab-content" => "true" }
            - Comfy::Cms::Page.published.find_by(slug: step_group).children.published.order(:position).each do |page|
              %a{ href: page.full_path }
                .step-card.media-object
                  .media-object-section.middle
                    %i.icon{ class: "icon-#{page.slug}" }
                  .media-object-section.middle
                    %strong= page.label
                    %div= page.blocks.find_by(identifier: 'subtitle').try(:content)

  .row
    .typeform-widget{"data-text" => "BizPort features", "data-url" => "https://longbeachbusiness.typeform.com/to/rdHMEO", :style => "width:100%;height:500px;"}
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
