.row.bottom-30
  Welcome! Starting a business is exciting, but not without risks. We're here to help you get started.

.row
  .columns.small-10.small-offset-1
    %a.button.expanded{ href: start_business_plan_path } Learn How to Start a Business
