.home
  .hero
    .hero-copy
      %h4.text-center
        Welcome!
      %h5.text-center
        Starting a business is both exciting and challenging. We’re here to help you navigate the process.

  .row.small-up-1.medium-up-3.text-center
    - Comfy::Cms::Page.find_by(slug:'start').children.published.order(:position).each do |page|
      .column.margin-bottom-30
        %a{ href: page.full_path }
          .row
            %i{ class: "icon-step-#{page.position}" }
          .row
            .row
              Step #{page.position}:
            .row
              = page.label
