- content_for(:body_class, 'home')

.row.columns.small-12.medium-8.medium-offset-2.margin-bottom-10
  .hero
    - unless user_signed_in?
      .video-container
        %iframe{ frameborder: '0', id: 'ytplayer', src: 'https://www.youtube.com/embed/vA3X1WK_F7o?rel=0&showinfo=0', allowfullscreen: true, type: 'text/html' }
  - if user_signed_in?
    .hero-copy.margin-bottom-20
      Welcome back,
      %strong= current_user.email
      (
      %a{ href: destroy_user_session_path, style: "text-decoration: underline;"}> log out
      )
      .margin-bottom-20
      Starting a business is both exciting and challenging. BizPort is here to help you navigate the process.
    %a{ href: checklist_path }
      .step-card.media-object
        .media-object-section.middle
          %i.icon.icon-checklist
        .media-object-section.middle
          %strong Check out your profile
          %div • Track progress with a checklist
          %div • Save funding opportunities
  - else
    .hero-copy
      Welcome! Starting a business is both exciting and challenging. BizPort is here to help you navigate the process.
  %gcse:search
  :javascript
    (function() {
      var cx = '003180083737835708997:hehme1kabdk';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

= render 'static/home/step_groups'

.row.bottom-ctas
  .column.small-12.medium-6
    %a{ href: new_user_registration_path }
      .media-object.text-center
        .icon.icon-large.icon-checklist
        .row
          %strong Track your progress
        .row{ style: "padding: 0.5rem;" }
          Create an account
  .column.small-12.medium-6
    %a{ href: survey_path }
      .media-object.text-center
        .icon.icon-large.icon-survey
        .row
          %strong Survey:
        .row{ style: "padding: 0.5rem;" }
          Tell us about your experience getting a business up and running

- if user_signed_in?
  .row.columns.small-12.large-8.large-offset-2.margin-bottom-10
    .video-container
      %iframe{ frameborder: '0', id: 'ytplayer', src: 'https://www.youtube.com/embed/vA3X1WK_F7o?rel=0&showinfo=0', allowfullscreen: true, type: 'text/html' }

:javascript
  $(document).ready(function () {
    $('.optional-disable').click(function () {
      var $optionalStep = $('.optional-step');
      $('.choice-section').removeClass('selected');
      if ( $optionalStep.hasClass('inactive') ) {
        $(this).addClass('selected');
      } else {
        $(this).addClass('selected');
        $optionalStep.addClass('inactive');
      }
    });
    $('.optional-enable').click(function () {
      var $optionalStep = $('.optional-step');
      $('.choice-section').removeClass('selected');
      if ( $optionalStep.hasClass('inactive') ) {
        $optionalStep.removeClass('inactive');
        $(this).addClass('selected');
      } else {
        $(this).addClass('selected');
      }
    });
  });
