.home
  .hero
    .hero-copy
      %h4.text-center
        Welcome!
      %h5.text-center
        Starting a business is both exciting and challenging. We’re here to help you navigate the process.

  .row
    - ['plan','apply','launch'].each do |step_group|
      .step-group.columns.small-12.medium-4
        %strong.step-group-title.media-object.text-centered= step_group.titleize
        - Comfy::Cms::Page.published.find_by(slug: step_group).children.published.order(:position).each do |page|
          .column.margin-bottom-10
            %a{ href: page.full_path }
              .step-card.media-object
                .media-object-section.middle
                  .thumbnail
                    %i{ class: "icon-#{page.slug}" }
                .media-object-section.middle
                  %strong= page.label
                  %div= page.blocks.find_by(identifier: 'subtitle').try(:content)
  .row
    .typeform-widget{"data-text" => "BizPort features", "data-url" => "https://longbeachbusiness.typeform.com/to/rdHMEO", :style => "width:100%;height:500px;"}
    :javascript
      (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
