.home
  .hero
    .row.margin-bottom-30
      .hero-copy
        %h2.text-center
          Welcome! Starting a business is exciting, but not without risks. We're here to help you navigate the process.

  .row
    .columns.small-10.small-offset-1
      %a.button.expanded{ href: start_business_plan_path } Learn How to Start a Business

  .row.margin-bottom-20
    %h3.text-center Help us improve the process with your feedback.
    .columns.small-10.small-offset-1.float-left
      %a.button.secondary.expanded{ href: 'https://lisa317.typeform.com/to/mHoveY' } Give Feedback

  .row.small-up-1.medium-up-3.text-center
    .column.margin-bottom-30
      %a{ href: start_business_plan_path }
        .row
          %i.icon-business-plan
        .row
          1 Create a Business Plan
    .column.margin-bottom-30
      %a{ href: start_finance_your_business_path }
        .row
          %i.icon-finance
        .row
          2 Finance Your Business
    .column.margin-bottom-30
      %a{ href: start_find_a_location_path }
        .row
          %i.icon-location
        .row
          3 Find a Location
    .column.margin-bottom-30
      %a{ href: start_choose_a_name_path }
        .row
          %i.icon-name
        .row
          4 Choose a Name
    .column.margin-bottom-30
      %a{ href: start_register_your_business_path }
        .row
          %i.icon-register
        .row
          5 Register Your Business
    .column.margin-bottom-30
      %a{ href: start_permits_and_licenses_path }
        .row
          %i.icon-license
        .row
          6 Permits and Licenses
    .column.margin-bottom-30
      %a{ href: start_building_and_inspections_path }
        .row
          %i.icon-building
        .row
          7 Building and Inspections
    .column.margin-bottom-30
      %a{ href: start_open_your_business_path }
        .row
          %i.icon-key
        .row
          8 Open Your Business
