- content_for(:body_class, 'home')

.row.columns.small-12.medium-8.medium-offset-2.margin-bottom-10
  - if user_signed_in?
    .hero
      .hero-copy
        Welcome back,
        %strong= current_user.email
        (
        %a{ href: destroy_user_session_path, style: "text-decoration: underline;"}> log out
        )
        .margin-bottom-20
        Starting a business is both exciting and challenging. We are here to help you navigate the process.
      %a{ href: checklist_path }
        .step-card.media-object
          .media-object-section.middle
            %i.icon.icon-checklist
          .media-object-section.middle
            %strong Check out your profile
            %div • Track progress with a checklist
            %div • Save funding opportunities
  - else
    .hero
      .hero-copy
        Welcome! Starting a business is both exciting and challenging. We are here to help you navigate the process.
      = render 'shared/video_embed_youtube', youtube_embed_url: 'https://www.youtube.com/embed/JS-PZl65_Q4?list=PLTJ2czf5inR9SredhdnLQZ01YzmrGzTtr&showinfo=0'

  %gcse:search
  :javascript
    (function() {
      var cx = '003180083737835708997:hehme1kabdk';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

= render 'static/home/step_groups'

- if user_signed_in?
  .row.bottom-ctas
    .column.small-12.medium-8.medium-offset-2
      %a{ href: survey_path }
        .media-object.text-center
          .icon.icon-large.icon-survey
          .row
            %strong Survey:
          .row{ style: "padding: 0.5rem;" }
            Tell us about your experience getting a business up and running
- else
  .row.bottom-ctas
    .column.small-12.medium-6
      %a{ href: new_user_registration_path }
        .media-object.text-center
          .icon.icon-large.icon-checklist
          .row
            %strong Track your progress
          .row{ style: "padding: 0.5rem;" }
            Create an account
    .column.small-12.medium-6
      %a{ href: survey_path }
        .media-object.text-center
          .icon.icon-large.icon-survey
          .row
            %strong Survey:
          .row{ style: "padding: 0.5rem;" }
            Tell us about your experience getting a business up and running

- if user_signed_in?
  .row.columns.small-12.large-8.large-offset-2.margin-bottom-10
    = render 'shared/video_embed_youtube', youtube_embed_url: 'https://www.youtube.com/embed/JS-PZl65_Q4?list=PLTJ2czf5inR9SredhdnLQZ01YzmrGzTtr&showinfo=0'

:javascript
  $(document).ready(function () {
    var $optionalSteps = $('.optional-step');
    $('.optional-disable').click(function () {
      $('.choice-section').removeClass('selected');
      if ( $optionalSteps.css('display') === 'none' ) {
        $(this).addClass('selected');
      } else {
        $(this).addClass('selected');
        $optionalSteps.slideUp();
      }
    });
    $('.optional-enable').click(function () {
      $('.choice-section').removeClass('selected');
      if ( $optionalSteps.css('display') === 'none' ) {
        $optionalSteps.slideDown();
        $(this).addClass('selected');
      } else {
        $(this).addClass('selected');
      }
    });
  });
