.row

  %h1 8) Open Your Business

  %h2 Learn

  %p Once your business license has been issued and all permits approved, the city will issue you a certificate of occupancy for your location. 

  %p This certificate indicates that your building is up to code, the facilities meet city safety rules, and allows for utilities (power, water, and gas) to be connected to the building.

  %h2 Do
  %ol
    %li Receive Certificate of Occupancy
    %li Start doing business!

  -# .callout.primary Many free services are available if you need help as you begin doing business. Search here: (Primer Peso link?)
