- content_for :title, "Step 7: Open Your Business"

.step
  .step-header
    .step-title.text-center
      %i.icon-key-blue
      %h1 Step 7:
      %h1 Open Your Business

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2
            %a{ href: checklist_path } My Checklist

          %ul
            - ChecklistItem.where(category: 'open').each do |item|
              = render 'shared/checklist_item', item_text: item.item_text


      #step-content.columns.small-12.medium-7
        .step-section
          %h2 Your Business License

          %h3 Display of License
          %p Every person having a license shall prominently display the license at the place of business. If the business is operated from a vehicle, an identifying decal issued by the City shall be affixed to the vehicle, and the business license shall be carried by the licensee.  (L.B.M.C. 3.80.425.5) 

        .step-section
          %h2 Certificate of Occupancy
          %p Once all your inspections receive final approval and all permit related fees are paid the city will issue you a certificate of occupancy for your location. This certificate indicates that your building is up to code, the facilities meet city safety rules and allows for utilities (power, water and gas) to be connected to the building. Your business license will also be approved.

          %p If no construction work was performed in preparing your business to open, you may still need to schedule some inspections and pay associated fees.


        .step-section
          %h2 Employees
          %h3 Defining Employees

          %p Every person engaged in the operation or conduct of any business in Long Beach, whether as owner, member of the owner’s family, partner, associate, agent, manager or solicitor, and every person employed or working in such business, whether full-time, part-time, permanent or temporary, for a wage, salary, commission or room and board. 

          %p The owner of a sole proprietorship is not considered an “employee” of the business. 

          %h3 Workplace Posters
          %p In California, all employers must meet workplace posting obligations. Workplace postings are usually available at no cost from the requiring agency. The Department of Industrial Relations requires employers to post information related to wages, hours and working conditions in an area frequented by employees where it may be easily read during the workday. Additional posting requirements apply to some workplaces. For a list of available safety and health postings, visit the Cal/OSHA publications page.

          = render 'shared/link_box', link:'http://www.dir.ca.gov/dosh/puborder.asp', line_1:'VISIT', line_2:'Poster Requirements'

          = render 'shared/link_box', link:'http://www.dir.ca.gov/wpnodb.html', line_1:'VISIT', line_2:'Poster Downloads'

        .step-section
          %h2 Doing Business With The City Of Long Beach

          %h3 PlanetBids
          = render 'shared/link_box', link:'https://www.planetbids.com/portal/portal.cfm?CompanyID=15810', line_1:'REGISTER', line_2:'Become a Vendor to the City'
          %p This program is part of the City's ongoing commitment to support the local business community. PlanetBids™ is a web-based bid management system to simplify doing business with the City. Some key features and benefits of PlanetBids™ include the ability to:
          %ul
            %li Maintain your own profile as a new or existing bidder.
            %li Receive automatic email notifications for selected bid opportunities based on product/service categories.
            %li Receive automatic addendum notification as a bid participant.
            %li Search for various types of requests and addenda at any time.

          %p To remain abreast of the City's current bids, we recommend that you:
          %ul
            %li Regularly visit our website at www.longbeach.gov/purchasing to obtain a current list of bids.
            %li Check the classified section of the Long Beach Press Telegram for formal bids over $100,000.
            %li Keep in contact with the buyer of your particular commodity or service.

          %h3 Local Preference Program
          %p A local preference of 10% will be applied to Long Beach businesses on bids for materials, supplies, equipment or non-professional services. The local preference applies to purchases up to $100,000. Only businesses that have a current, valid business license from the City showing a place of business within the City and have a Seller's Permit issued by the State Board of Equalization where the permit lists a Long Beach address are eligible for this program.
