.step-title
  %i.icon-key.float-left
  %h3 Step 8
  %h1 Open Your Business

.content-container

  .row.step-section.step-section-learn
    .columns.medium-2.large-1.show-for-medium
      .icon-container-circle.background-lightblue
        %i.icon-learn.float-right
    .columns.medium-10.large-11
      %h2 Learn

      %p Once your business license has been issued and all permits approved, the city will issue you a certificate of occupancy for your location. 

      %p This certificate indicates that your building is up to code, the facilities meet city safety rules, and allows for utilities (power, water, and gas) to be connected to the building.

      %p 
        In California, all employers must meet workplace posting obligations. Workplace postings are usually available at no cost from the requiring agency. The Department of Industrial Relations requires employers to post information related to wages, hours and working conditions in an area frequented by employees where it may be easily read during the workday. Additional posting requirements apply to some workplaces. For a list of available safety and health postings, visit the 
        %a{ href:'http://www.dir.ca.gov/wpnodb.html' } Cal/OSHA publications page.

  .row.step-section.step-section-checklist
    .columns.medium-2.large-1.show-for-medium
      .icon-container-square.background-lightblue
        .icon-do.float-right
    .columns.medium-10.large-11
      %h2 Do
      %ul
        %li
          %input{ type:'checkbox' } Receive Certificate of Occupancy
        %li
          %input{ type:'checkbox' } Put up workplace posters, available at
          %a{ href:'http://www.dir.ca.gov/wpnodb.html' } http://www.dir.ca.gov/wpnodb.html
        %li
          %input{ type:'checkbox' } Start doing business!

  -# .callout.primary Many free services are available if you need help as you begin doing business. Search here: (Primer Peso link?)
