.step
  .step-header
    .step-title.text-center
      %i.icon-license-blue
      %h1 Step 5:
      %h1 Permits and Licenses

  .content-container

    .row
      .checklist.columns.small-12.medium-5{"data-sticky-container" => "true"}
        .sticky{"data-anchor" => "step-content", "data-sticky" => "true"}
          %h2 My Checklist

          %ul
            - ChecklistItem.where(category: 'permits').each do |item|
              = render 'shared/checklist_item', item_text: item.item_text

      #step-content.columns.small-12.medium-7
        .step-section
          %h2 Licenses
          %p Some business types require special licenses to operate. Examples include food preparation, alcohol sales, tobacco sales, or massage services. City staff can tell you what licenses your business might need in order to operate.

          = render 'shared/contact_box_combo', phone:'(562) 570-6211', email: 'LBBIZ@longbeach.gov'

        .step-section
          %h2 Permits
          %p Permits are proof that your building and facilities follow city rules ("code") and are safe for you, your employees, and your customers.

          %p You will need to get permits to make changes if the building your business is in needs to be renovated. In order to get permits, you must submit drawings ("plans") and construction documents to the city.

          %p Construction rules can be complicated. A professional architect or contractor may be able to offer helpful advice and planning assistance, as well as create necessary site plan drawings and construction documents (CDs). For large projects, you may need a licensed architect to “draw and stamp” your plans before showing them to city staff.


          %p In order to apply for permits, you will need:
          %ul
            %li
              A completed
              %a{ href:'http://www.lbds.info/civica/filebank/blobdload.asp?BlobID=4336' } Development Services Permit Application
            %li
              Plans and construction documents that show new changes

        .step-section
          %h2 Plan Review
          %p This is more complicated than the initial plan reviewed by the city and can take up to four weeks.  You can pay double to expedite this process, so it will only take two weeks.

        .step-section
          %h2 Permit Status
          %p You can check the status of your permit using the form below.
          %iframe{ src:'http://sapphire.longbeach.gov/HPLandMgmt/PB/SitusInquiry.asp', style:"width: 100%;", frameborder:0 }

        .step-section
          %h2 Feedback
          %p Give feedback to the permit department by filling out the survey.

          = render 'shared/link_box', link:'bit.ly/longbeachbusiness', line_1:'FILL OUT', line_2:'Entrepreneur Experience Survey'

        .row.margin-top-30
          .columns.small-12.small-centered
            %a.button.secondary.expanded{ href:start_building_and_inspections_path }
              %h2 Step 6: Building and Inspections
