= render 'shared/header'

.row

  %h1 5) Register Your Business

  %p Now that you have a business name registered with the county, you're ready to register your business with the federal, state, and city governments.

  %h2 Learn

  %p Registering your business costs money, and fees will vary based on your type of business, location, and number of employees.

  %p If your business is located in one of Long Beach's Business Improvement Districts (BIDs) (link), you will be required to pay a BID fee as well. This money is used to improve the environment for businesses in the BID areas, including picking up trash, removing graffiti, hosting public events, and providing helpful resources to local businesses.

  %h2 Do
  %p Apply for the following in order:
  %ol
    %li
      %a{ href: 'https://www.irs.gov/Businesses/Small-Businesses-&-Self-Employed/Apply-for-an-Employer-Identification-Number-(EIN)-Online' } Federal Employer Identification Number Application
    %li
      %a{ href: 'http://www.boe.ca.gov/info/reg.htm' } California State Board of Equalization Seller's Permit Application
    %li
      %a{ href: 'http://www.longbeach.gov/finance/business-info/business-licenses/business-licenses/' } City of Long Beach Business License Application
      %span Fill out this form and take it to the 4th floor of City Hall. While it is possible to mail the form in, visiting the office in person will ensure that you're able to ask and answer any questions that may come up as city staff review the form. 
