- content_for :title, "Resources"

.step
  .step-header
    .step-title.text-center
      %i.icon-resources.white
      %h1 Resources

  .content-container
    .resources
      %table.stack
        %thead
          %tr
            %th Organization
            %th Program
            %th Type
            %th Industry
            %th URL
        %tbody
          %tr
            %td Bixby Knolls BID
            %td
            %td BID
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://bixbyknollsinfo.com/')", href: "http://bixbyknollsinfo.com/" } http://bixbyknollsinfo.com/
          %tr
            %td Downtown Long Beach Association (DLBA)
            %td
            %td BID
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.downtownlongbeach.org/default')", href: "http://www.downtownlongbeach.org/default" } http://www.downtownlongbeach.org/default
          %tr
            %td Midtown/Cambodia Town BID
            %td
            %td BID
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.cobalb.com/business-districts/cambodia-town/')", href: "http://www.cobalb.com/business-districts/cambodia-town/"} http://www.cobalb.com/business-districts/cambodia-town/
          %tr
            %td 4th Street BID
            %td
            %td BID
            %td all
            %td
          %tr
            %td California State Board of Equalization
            %td Manufacturing and Research & Development Equipment Exemption
            %td Tax Incentive
            %td manufacturing
            %td
              %a{ onclick: "trackOutboundLink('http://www.boe.ca.gov/sutax/manufacturing_exemptions.htm')", href: "http://www.boe.ca.gov/sutax/manufacturing_exemptions.htm" } http://www.boe.ca.gov/sutax/manufacturing_exemptions.htm
          %tr
            %td California Alternative Energy and Advanced Transportation Financing Authority (CAEATFA)
            %td Sales and Use Tax Exclusion – Advanced Manufacturing & Transportation and Alternative Energy
            %td Tax Incentive
            %td manufacturing
            %td
              %a{ onclick: "trackOutboundLink('http://www.treasurer.ca.gov/caeatfa/ste/index.asp')", href: "http://www.treasurer.ca.gov/caeatfa/ste/index.asp" } http://www.treasurer.ca.gov/caeatfa/ste/index.asp
          %tr
            %td State of California Franchise Tax Board
            %td New Employment Credit (NEC)
            %td Tax Incentive
            %td all
            %td
              %a{ onclick: "trackOutboundLink('https://www.ftb.ca.gov/online/New_Employment_Credit_Reservation/index.shtml')", href: "https://www.ftb.ca.gov/online/New_Employment_Credit_Reservation/index.shtml" } https://www.ftb.ca.gov/online/New_Employment_Credit_Reservation/index.shtml
          %tr
            %td Employment Training Panel
            %td Small Business Program (SBP)
            %td Funding (Reimbursement)
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.etp.ca.gov/')", href: "http://www.etp.ca.gov/" } http://www.etp.ca.gov/
          %tr
            %td City of Long Beach
            %td INCENTIVE TO RELOCATE OR EXPAND A SMALL BUSINESS
            %td Tax Incentive
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/')", href: "http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/" } http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/
          %tr
            %td City of Long Beach
            %td INCENTIVE TO SUPPORT MANUFACTURING
            %td Tax Incentive
            %td manufacturing
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/')", href: "http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/" } http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/
          %tr
            %td City of Long Beach
            %td INCENTIVE TO CREATE JOBS
            %td Tax Incentive
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/')", href: "http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/" } http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/
          %tr
            %td City of Long Beach
            %td INCENTIVE FOR RENOVATION AND CONSTRUCTION
            %td Tax Incentive
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/')", href: "http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/" } http://www.longbeach.gov/finance/media-library/documents/business-info/business-licenses/small-business-incentives---application/
          %tr
            %td GO-Biz
            %td California Competes Tax Credit
            %td Tax Incentive
            %td
            %td
          %tr
            %td Small Business Administration (SBA)
            %td Small Business Development Center (SBDC)
            %td Human Assistance
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://longbeachsbdc.org/')", href: "http://longbeachsbdc.org/" } http://longbeachsbdc.org/
          %tr
            %td SCORE
            %td Mentoring
            %td Human Assistance
            %td all
            %td
          %tr
            %td GO-Biz
            %td Business Specialist
            %td Human Assistance
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://business.ca.gov/Home/ContactUs.aspx')", href: "http://business.ca.gov/Home/ContactUs.aspx" } http://business.ca.gov/Home/ContactUs.aspx
          %tr
            %td GO-Biz
            %td Site Selection Assistance
            %td Human Assistance
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://business.ca.gov/RelocateExpand/SiteSelection.aspx')", href: "http://business.ca.gov/RelocateExpand/SiteSelection.aspx" } http://business.ca.gov/RelocateExpand/SiteSelection.aspx
          %tr
            %td GO-Biz
            %td Permit Assistance
            %td Human Assistance
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://business.ca.gov/Programs/Permits.aspx')", href: "http://business.ca.gov/Programs/Permits.aspx" } http://business.ca.gov/Programs/Permits.aspx
          %tr
            %td OpenCounter
            %td
            %td Information
            %td
            %td
              %a{ onclick: "trackOutboundLink('https://long-beach.opencounter.com/')", href: "https://long-beach.opencounter.com/" } https://long-beach.opencounter.com/
          %tr
            %td City of Long Beach
            %td Long Beach Business Loan Program
            %td Loan
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/citymanager/economic-development/financial-assistance/')", href: "http://www.longbeach.gov/citymanager/economic-development/financial-assistance/" } http://www.longbeach.gov/citymanager/economic-development/financial-assistance/
          %tr
            %td City of Long Beach
            %td Microenterprise Loan Program
            %td Loan
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.lbds.info/neighborhood_services/corridor_beautification/business_loan.asp')", href: "http://www.lbds.info/neighborhood_services/corridor_beautification/business_loan.asp" } http://www.longbeach.gov/citymanager/economic-development/financial-assistance/
          %tr
            %td City of Long Beach
            %td Grow Long Beach Loan Program
            %td Loan
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.longbeach.gov/citymanager/economic-development/grow-long-beach-fund-loan-program/')", href: "http://www.longbeach.gov/citymanager/economic-development/grow-long-beach-fund-loan-program/" } http://www.longbeach.gov/citymanager/economic-development/grow-long-beach-fund-loan-program/
          %tr
            %td Small Business Financial Development Corporation (SBFDC)
            %td Replacing Underground Storage Tank (RUST) Loan Program
            %td Loan
            %td manufacturing, industrial
            %td
              %a{ onclick: "trackOutboundLink('http://sbfdoc.com/programs/rust-loan/')", href: "http://sbfdoc.com/programs/rust-loan/" } http://sbfdoc.com/programs/rust-loan/
          %tr
            %td Small Business Financial Development Corporation (SBFDC)
            %td Surety Bond
            %td Loan
            %td contracting
            %td
              %a{ onclick: "trackOutboundLink('http://sbfdoc.com/programs/surety-bond/')", href: "http://sbfdoc.com/programs/surety-bond/" } http://sbfdoc.com/programs/surety-bond/
          %tr
            %td California Pollution Control Financing Authority
            %td California Capital Access Program (CalCap)
            %td Loan
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.treasurer.ca.gov/cpcfa/calcap/sb/summary.asp')", href: "http://www.treasurer.ca.gov/cpcfa/calcap/sb/summary.asp" } http://www.treasurer.ca.gov/cpcfa/calcap/sb/summary.asp
          %tr
            %td SBA
            %td LINC
            %td Loan
            %td all
            %td
              %a{ onclick: "trackOutboundLink('https://www.sba.gov/tools/linc')", href: "https://www.sba.gov/tools/linc" } https://www.sba.gov/tools/linc
          %tr
            %td Goldman Sachs
            %td 10000 Small Businesses
            %td Human Assistance
            %td all
            %td
              %a{ onclick: "trackOutboundLink('http://www.lbcc.edu/CAED/10000sb-about.cfm')", href: "http://www.lbcc.edu/CAED/10000sb-about.cfm" } http://www.lbcc.edu/CAED/10000sb-about.cfm
