.resources.results
  .row.columns.small-12.medium-8.medium-offset-2.large-6.large-offset-3
    - @search_data['results'].each do |result|
      .result
        .value-prop
          %i Icon
          %strong This is the value proposition
        .title
          %strong Opportunity:
          = result['title']
        .purpose
          %strong Purpose:
          = result['purposes'].map{ |p| p['name'] }.join(', ')
        .industry
          %strong Industry:
          = result['industries'].map{ |i| i['name'] }.join(', ')
