$color-darkblue: #08508a;
$color-darkblue-2: #136194; // official city color
$color-darkblue-3: #167fab;
$color-mediumblue: #17b9d9; // official city color
$color-lightblue: #8cdcec;

$color-lightgray: #9aa1a6;
$color-mediumgray: #778187; // official city color
$color-darkgray: #54595c;
$color-black: #333333; // official city color

$color-error: #c50000;
