// official city colors
$color-darkblue: #136194;
$color-mediumblue: #17b9d9;
$color-black: #333333;
$color-mediumgray: #778187;

$color-logo-darkblue: #17b9d9;
$color-lightblue: #c7f6ff;
$color-lighterblue: #edfbfe;

$color-lightgray: #dddddd;
$color-darkgray: #595f5f;

$color-error: #c50000;

.background-lightblue {
  background-color: $color-mediumblue;
}
