$color-darkblue: #136194; // official city color
$color-darkblue-2: #0678a1;
$color-darkblue-3: #0090b6;
$color-mediumblue: #17b9d9; // official city color
$color-lightblue: #c7f6ff;
$color-lighterblue: #edfbfe;

$color-logo-darkblue: #17b9d9;

$color-extralightgray: #D1D5D5;
$color-lightgray: #dddddd;
$color-mediumgray: #778187; // official city color
$color-darkgray: #595f5f;
$color-black: #333333; // official city color

$color-error: #c50000;

.background-lightblue {
  background-color: $color-mediumblue;
}
