.feedback-tab {
  position: absolute;
  right: 0px;
  top: 300px;
  z-index: 1;

  a {
    transform: rotate(90deg);
    transform-origin: right top 0;
    display: block;

    background-color: $color-lightgray;
    color: $white;
    box-shadow: 1px 1px 3px #778187;
    padding: 10px;
    padding-top: 5px; // transform rotates so `top` is `right`
    padding-bottom: 5px; // transform rotates so `bottom` is `left`
    border-top: 0px;
  }
}
