.feedback-tab {
  position: absolute;
  right: 0px;
  top: 300px;
  z-index: 1;

  a {
    transform: rotate(90deg);
    transform-origin: right top 0;
    display: block;

    background-color: $color-darkgray;
    color: #FFFFFF;
    box-shadow: 1px 1px 3px #778187;
    padding: 5px;
    padding-top: 0px; // transform rotates so `top` is `right`
    border: 1px solid black;
    border-top: 0px;
  }
}
