@import url(https://fonts.googleapis.com/css?family=Raleway:400,600|Open+Sans:400,300italic,700);

@mixin font-raleway {
  font-family: 'Raleway';
  font-weight: 800;
}

@mixin font-opensans {
  font-family: 'Open Sans', sans-serif;
}

body {
  @include font-opensans;
}

h1, h2, h3, h4, h5 {
  @include font-raleway;
}
