.footer {
  margin-top: 30px;
  padding: 30px;
  background-color: $color-black;
  color: $color-mediumgray;

  a {
    text-decoration: underline;
    color: $color-mediumgray;

    &:hover {
      color: $color-mediumgray;
    }
  }
}
