.footer {
  margin-top: 30px;
  padding: 30px;
  background-color: $color-mediumgray;
  color: $white;
  clear: both;

  a {
    text-decoration: underline;
    color: $white;

    &:hover {
      color: $color-mediumgray;
    }
  }
}
