.footer {
  margin-top: 30px;
  padding: 30px;
  background-color: $color-black;
  color: $color-lightgray;

  a {
    text-decoration: underline;
    color: $color-lightgray;

    &:hover {
      color: $color-lightgray;
    }
  }
}
