.translate-bar {
  background-color: $color-extralightgray;

  .dismiss-gt-link {
    float: right;
    margin-top: 10px;
    margin-right: 23px;
  }
}

#google_translate_element {
  display: inline-block !important;
  font-size: 16px !important;
  color: #e5e5e5 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;

  .goog-te-gadget-simple .goog-te-menu-value,
  .goog-te-gadget {
    color: #e5e5e5 !important;
  }

  .goog-te-gadget:before {
    content: "\1F310";
    font-size: 18px;
    position: relative;
    top: 2px; // just enough to center with text
  }

  .goog-te-gadget-simple {
    background-color: transparent !important;
    border: none !important;

    span {
      vertical-align: inherit !important;
      font-size: 16px;
    }
  }

  .goog-te-gadget-icon,
  .goog-te-menu-value span {
    display: none !important;
    color: $color-darkblue-2;
  }

  .goog-te-menu-value span:last-child {
    display: inline !important;
    color: $color-mediumblue !important;
  }

  .goog-te-menu-value span:first-of-type {
    display: inline-block !important;
  }

  .goog-te-menu-value img {
    margin: 0;
  }

  .goog-te-menu-value:hover {
    color: #71BCD7 !important;
  }
}

.google-translate-sidebar #google_translate_element {
  border: 1px solid #333333;
  padding: 5px 8px;
}
