.title-bar-title a {
  color: $white;
  font-size: 20px;
}

.logo-longbeach {
  font-size: 40px;
  font-family: 'Century Gothic', 'Raleway';
}
.logo-longbeach_long {
  color: $color-darkblue;
  font-weight: 500;
}
.logo-longbeach_beach {
  color: $color-mediumblue;
  font-weight: 800;
}

.menu-icon {
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 0;
  padding: 5px;
  @include font-opensans;
  font-weight: bold;
}

// override for dropdown menu carat
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $white transparent transparent;
}

.off-canvas {
  background-color: $white;
  height: 100%;

  .user-account-area {
    background-color: $color-extralightgray;
    padding-top: 0;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;

    .log-button {
      display: block;
      text-align: right;
      color: $color-darkgray;
    }
  }

  .nav-business-step {
    margin-left: 10px;
  }

  ul {
    list-style-type: none;
  }

  li {
    min-height: 50px;
  }

  li.title {
    font-weight: bold;
    padding: 0.7rem 1rem;
    line-height: 1;
  }

  li, a {
    color: $color-darkgray;
  }

  a {
    display: inline-block;
    padding: 10px 0;

    &:hover {
      color: $color-mediumgray;
      text-decoration: underline;
    }
  }

  .goog-te-menu-value {
    padding: 0; // don't mess with google translate button
  }


}
