.title-bar,
.top-bar,
.top-bar .menu {
  background-color: $color-black;
}

.logo-longbeach {
  font-size: 26px;
  font-family: 'Raleway';
}
.logo-longbeach_long {
  color: $color-logo-darkblue;
  font-weight: 500;
}
.logo-longbeach_beach {
  color: $color-lightblue;
  font-weight: 800;
}

.off-canvas {
  background-color: $color-black;
  height: 100%;

  .nav-mobile-business-step {
    padding-left: 15px;
  }

  li.title {
    font-weight: bold;
    padding: 0.7rem 1rem;
    line-height: 1;
  }

  li, a {
    color: #DDDDDD;
  }
  a:hover {
    color: #FFFFFF;
  }
}
