.top-bar,
.top-bar .menu {
  background-color: $color-extradarkblue;
  
  a:hover {
    text-decoration: underline;
  }
}

.logo-longbeach {
  font-size: 30px;
  font-family: 'Century Gothic', 'Raleway';
}
.logo-longbeach_long {
  color: $color-logo-darkblue;
  font-weight: 500;
}
.logo-longbeach_beach {
  color: $color-lightblue;
  font-weight: 800;
}

// override for dropdown menu carat
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $white transparent transparent;
}

#widemenu {
  .numbering, .title {
    display: table-cell;
  }
  .numbering {
    padding-right: 5px;
  }
}

.off-canvas {
  background-color: $color-extradarkblue;
  height: 100%;

  .nav-mobile-business-step {
    margin-left: 20px;

    .numbering {
      display: none;
    }

  }

  li.title {
    font-weight: bold;
    padding: 0.7rem 1rem;
    line-height: 1;
  }

  li, a {
    color: $white;
  }

  a {
    display: inline-block;
    padding: 10px 0;
    
    &:hover {
      color: $color-mediumgray;
      text-decoration: underline;
    }
  }


}
