.title-bar,
.top-bar,
.top-bar .menu {
  background-color: $color-black;
}

.off-canvas {
  background-color: $color-black;
  height: 100%;

  li.title {
    font-weight: bold;
  }

  li, a {
    color: #DDDDDD;
  }
  a:hover {
    color: #FFFFFF;
  }
}
